---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggler.astro';
import { getPokemon } from '../config/api/backend/pokemon';
import { getPokemons } from '../config/api/backend/pokemons';
import { capitalize } from '../helpers/strings';

export const getStaticPaths = async () => {
  const allPokemons = await getPokemons(10000, 0);
  return allPokemons.map(({ name }) => ({
    params: { name },
  }));
};

const { name } = Astro.params;
---

<Layout title={capitalize(name)}>
  <div>
    <ThemeToggle />
    <div class='dark:text-yellow-300 text-yellow-800'>
      hola, esta es la pagina de {name}
    </div>
  </div>
  <img src='' alt={name} class='pokemon-image' />
</Layout>
<script>
  import { $pokemons, $pokemonName } from '../shared/pokemons';
  document.addEventListener('astro:page-load', () => {
    const pokemonImage = document.querySelector(
      '.pokemon-image'
    ) as HTMLImageElement;
    if (!pokemonImage) return false;
    console.log(pokemonImage);
    const pokemon = $pokemons
      .get()
      .find((pokemon) => pokemon.name === $pokemonName.get());
    const pokemonImageUrl =
      pokemon?.sprites.other['official-artwork'].front_default ?? '';
    pokemonImage.src = pokemonImageUrl;
  });
</script>
