---
interface Props {
  stats: number;
}
const { stats }: Props = Astro.props;

const porcentageWidth = (stats / 255) * 100;
---

<div
  class='rounded-full w-full h-6 overflow-hidden border-2 border-zinc-50 dark:shadow-border-toggle-dark shadow-border-toggle-light'
>
  <div
    class='color dark:bg-violet-800 bg-yellow-500 h-full flex items-center justify-center text-white font-medium'
    style=`--porcentagewidth: ${porcentageWidth}%`
  >
    {stats}
  </div>
</div>

<style>
  .color {
    /* transition: width 1s; */
    /* width: var(--porcentagewidth); */
    animation: rotcargarate 1s ease-in-out forwards;
  }

  @keyframes rotcargarate {
    0% {
      width: 0px;
    }
    100% {
      width: var(--porcentagewidth);
    }
  }
</style>
