---
import { ViewTransitions } from 'astro:transitions';
import ThemeToggle from '../components/ThemeToggler.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='bg-slate-50 dark:bg-[#13151a] pt-4'>
    <h1 class='mb-4 flex justify-center text-7xl font-bold'>
      <a href='/' class='block leading-[6.6rem]'> Pokedex </a>
    </h1>
    <ThemeToggle />

    <slot />

    <style is:global>
      @font-face {
        font-family: 'Pokemon Solid';
        src: url('./../assets/fonts/pokemon-solid/pokemon-solid.ttf');
      }

      @font-face {
        font-family: 'Pokemon Hollow';
        src: url('./../assets/fonts/pokemon-hollow/pokemon-hollow.ttf');
      }
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      body {
        min-height: 100vh;
      }
      h1 {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(
          to left,
          #ffd700,
          #7b68ee,
          #3498db,
          #2ecc71,
          #ffd700
        );
        text-align: center;
        font-family: 'Pokemon Hollow';
        animation: color 3s linear infinite;
        background-size: 500%;
      }
      @keyframes color {
        from {
          background-position: 0% 50%;
        }
        to {
          background-position: 100% 50%;
        }
      }
    </style>
  </body>
</html>
